# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print("Niels Armbruster")

Niels Armbruster

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [3]:
# Write your answer here:
students = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/assingments/assingment7/data_raw/students.csv")
students = pd.cut(students["numericgrade"], bins=[-1, 54, 59, 64, 69, 74,79,82,86,92,100], labels=["F", "D", "C-", "C","C+","B-","B", "B+", "A-", "A"])
students

0     C-
1      F
2      F
3      D
4     C+
5      A
6      F
7      F
8      F
9     C-
10     F
11     F
12    B-
13     A
14     F
15     F
16     F
17     D
18     B
19     F
20     F
21    A-
22     B
23     F
24    C-
Name: numericgrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [4]:
# Write your own code
sprint_results = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/assingments/assingment7/data_raw/sprint_results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [5]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
print(sprint_results.dtypes)
print('The type of "position" is object but described as int(11) in the codebook.')

resultId           int64
raceId             int64
driverId           int64
constructorId      int64
number             int64
grid               int64
position          object
positionText      object
positionOrder      int64
points             int64
laps               int64
time              object
milliseconds      object
fastestLap        object
fastestLapTime    object
statusId           int64
dtype: object
The type of "position" is object but described as int(11) in the codebook.

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [6]:
# Write your own code here
# Create and store a list of non-numeric values
subset = sprint_results.query("position.str.isnumeric() == False")
list_unique = subset["position"].unique()

In [7]:
# Create a list for replacement
list_old = ['\\N']
list_new = [np.nan]
sprint_results["position"] = sprint_results["position"].replace(list_old, list_new)
sprint_results['position'] = pd.to_numeric(sprint_results['position'])
sprint_results.dtypes

resultId            int64
raceId              int64
driverId            int64
constructorId       int64
number              int64
grid                int64
position          float64
positionText       object
positionOrder       int64
points              int64
laps                int64
time               object
milliseconds       object
fastestLap         object
fastestLapTime     object
statusId            int64
dtype: object

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [8]:
# Write your own code
#df_aggConstrcId_pos = sprint_results.groupby(["constructorId", "position"]).agg({"position": "mean", "position": "std"})


df_aggConstrcId_pos = sprint_results.groupby("constructorId").agg(
    mean_position = ("position", "mean"), std_position = ("position", "std"))
df_aggConstrcId_pos = df_aggConstrcId_pos.sort_values(by = "mean_position", ascending = True).reset_index()
print(df_aggConstrcId_pos)
print(df_aggConstrcId_pos.iloc[0,0])

   constructorId  mean_position  std_position
0              9       3.363636      2.419617
1              6       4.750000      2.734460
2            131       4.833333      4.174236
3              1       7.250000      3.137022
4            214      11.636364      4.006812
5            117      12.750000      3.165869
6             51      13.000000      3.549648
7            210      13.833333      5.236816
8            213      13.909091      2.981763
9              3      16.181818      2.857208
9

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [9]:
# Write your own code
subset2 = sprint_results.query("raceId>=100")

df_subaggConstrcId_pos = subset2.groupby("constructorId").agg(
    mean_position = ("position", "mean"), std_position = ("position", "std"))

df_subaggConstrcId_pos

               mean_position  std_position
constructorId
1                   7.250000      3.137022
3                  16.181818      2.857208
6                   4.750000      2.734460
9                   3.363636      2.419617
51                 13.000000      3.549648
117                12.750000      3.165869
131                 4.833333      4.174236
210                13.833333      5.236816
213                13.909091      2.981763
214                11.636364      4.006812