# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your Emory ID as a string below

In [1]:
# Write your answer here
print("2510657")

2510657

<font size = "5" >
This quiz is open book 

- You can use the lecture notes and the internet
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"


**By printing the message, you acknowledge that you will abide by Emory's code of conduct.**

In [2]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here
import numpy as np
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Print the list with the unique values that are not numeric in the column "positionText"
- Replace the non-numerica values ("R" and "N") with ```np.nan``` (missing value) in the column "positionText"
- Create a new column "positionNumeric" that converts the modified "positionText" column from string to numeric using ```pd.to_numeric()```

HINT: See the example in Lecture 12

In [11]:
# Write your own code
data = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/sprint_results.csv")
subset = data.query("positionText.str.isnumeric() == False")
list_unique = subset["positionText"].unique()
print(list_unique)

list_new = [np.nan,np.nan]
data["positionText"] = data["positionText"].replace(list_unique, list_new)
data["positionNumeric"] = pd.to_numeric(data["positionText"])

['R' 'N']

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

- Display the new "year_brackets" variable

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 (check the note in the example!)

In [16]:
# Write your own code
races = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/races.csv")
races["year_brackets"] = pd.cut(races["year"],bins = [1950,1975,2000,2024],labels = ["1950-1974","1975-1999","2000-onwards"])
display(races["year_brackets"])

0       2000-onwards
1       2000-onwards
2       2000-onwards
3       2000-onwards
4       2000-onwards
            ...
1097    2000-onwards
1098    2000-onwards
1099    2000-onwards
1100    2000-onwards
1101    2000-onwards
Name: year_brackets, Length: 1102, dtype: category
Categories (3, object): ['1950-1974' < '1975-1999' < '2000-onwards']

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe ```sprint_results_agg ```
- Display the ```sprint_results_agg``` dataframe
- Provide a one-sentence explanation of the information in the ```sprint_results_agg ``` table

In [42]:
# Write your own code
sprint_results = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/sprint_results.csv")
subset2 = sprint_results.query("constructorId == 3")
sum_of_laps = sprint_results.groupby("driverId").agg(sum_laps = ("laps", "sum"))
subset3 = sum_of_laps.query("sum_laps >= 40")

sprint_results_agg = subset3.copy(deep=True)
display(sprint_results_agg)

# The information contained in the aggregate table find the driver ID for drivers whose constructor ID is 3 and whose sum of laps is greater than 40.

          sum_laps
driverId
1              127
4              104
8               41
20             125
815            126
817            127
822            127
825             68
830            127
832            127
839            127
840            127
841             59
842            109
844            127
846            127
847            127
848             56
849            127
852            127
853             59
854            127
855             47

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Sort the teams in descending order using of the sum of laps using ``` .sort_values() ```
- Display your results

In [41]:
# Write your own code
sprint_results2 = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/sprint_results.csv")
sprint_results2["sum_of_laps"] = sprint_results2.groupby("driverId").agg(sum_laps = ("laps", "sum"))
sprint_results2 = sprint_results2.sort_values(by = ["sum_of_laps"], ascending = False)
display(sprint_results2)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,sum_of_laps
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,127.0
20,21,1065,822,131,77,1,1,1,1,3,18,27:54.078,1674078,9,1:23.540,1,125.0
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,104.0
8,9,1061,847,3,63,8,9,9,9,0,17,+46.652,1585078,17,1:32.208,1,41.0
9,10,1061,839,214,31,13,10,10,10,0,17,+47.395,1585821,16,1:32.183,1,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,NaN
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,NaN
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,NaN
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,NaN
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,NaN

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"
- Display the dataframe columns

HINT: Create a dictionary and use ```.rename(columns = ...)``` See Lecture 14

In [36]:
# Write your own code
sprint_results3 = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/sprint_results.csv")
sprint_results3 = sprint_results3.rename(columns={'points':'sprint_points'})
display(sprint_results3.columns)

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'sprint_points', 'laps',
       'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId'],
      dtype='object')

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and "data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using "sprint_results" as the primary dataset (left), and "constructors" as the secondary dataset (right), merging on the column "constructorId"
- To get full points **ONLY** merge the "url" column from the secondary dataset (not all the columns)
- Display the resulting dataframe 


HINT: Use ```[[...]]``` to extract a subset of columns from the secondary dataset before merging, including the "constructorId" column

In [35]:
# Write your own code
sprint_results4 = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/sprint_results.csv")
constructors = pd.read_csv("/Users/nielsarmbruster/Documents/GitHub/qtm151_fall_2023/quizzes/quiz3/data_raw/constructors.csv")
new_dataset = pd.merge(sprint_results4, constructors[["url","constructorId"]], on = "constructorId", how = "left")
display(new_dataset)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,url
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,http://en.wikipedia.org/wiki/Scuderia_Ferrari
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,http://en.wikipedia.org/wiki/Williams_Grand_Pr...